1. what is function?
2. how to write function in python?
3. argumnet vs parameter in function
------------------------------------------
for thursday
4. local and global variable in function
5. lambda function
6. map and filter function

In [ ]:
a=10
b=20
c=a+b
print(c)

30

In [ ]:
a=10
b=20
c=a-b
print(c)

-10

In [ ]:
def addition(a,b):
  c=a+b
  print(c)
addition(10,20)

30

In [ ]:
# function defination
def addition1():
  a=100
  b=200
  c=a+b
  print(c)

In [ ]:
# this is function call
addition1()

300

In [ ]:
def absolute(a,b):
  k=abs(a)
  p=abs(b)
  print(k)
  print(p)

In [ ]:
absolute(-7,9)

7
9

In [ ]:
def addition():
  a=100
  b=200
  c=a+b
  #print(c)
  return a,b,c

In [ ]:
value=addition()

In [ ]:
print(value)

(100, 200, 300)

In [ ]:
def factorial(n):
  factorial=1
  if n>=1:
    for i in range(1,n+1):
      factorial=factorial*i
    return factorial

In [ ]:
k=int(input("enter the number"))
factorial(k)

enter the number5

120

In [ ]:
factorial(k)

1307674368000

In [ ]:
def factorial(n):
  f=1
  while(n>1):
    f=f*n
    n=n-1
  return f

In [ ]:
factorial(5)

120

In [ ]:
#positional argument
def multiplication(a,b,c):
  return a*b*c

In [ ]:
multiplication(10)

TypeError: multiplication() missing 2 required positional arguments: 'b' and 'c'

In [ ]:

multiplication(10,20,30)

6000

In [ ]:
# KEyword Argument
def multiplication(a,b,c):
  return a*b*c

In [ ]:
multiplication(a=10,c=70,b=30)

21000

In [ ]:
#default argument, default argument always at last
def multiplication(a,b,c=2):
  return a*b*c

In [ ]:
multiplication(2,3)

12

Variable length Argument

In [ ]:
def fun1(*a):
  mul=1
  for i in a:
    mul=i*mul
  return mul

In [ ]:
fun1(20,10,30,40)

240000

Python does not support overloading ,python takes recent defination

In [ ]:
def attach(s1,s2):
  s3=s1+s2
  print("joined strig is",s3)
attach("good","night")

joined strig is goodnight

In [ ]:
def cal_area(radius,pi=3.14):
  area=pi*radius*radius
  print(area)
p=float(input("enter the radius"))
cal_area(p)

enter the radius2
12.56

In [ ]:
def addnos(a,b):
  c=a+b
  return c
def addnos(a,b,c):
  d=a+b+c
  return d
print(addnos(10,20))
print(addnos(10,20,30))

TypeError: addnos() missing 1 required positional argument: 'c'

In [ ]:
print(addnos(10,20,30))

60

In [ ]:
def find_largest(*s):
  largest=" "
  for i in s:
    if len(i)> len(largest):
      largest=i
  return len(largest)

In [ ]:
find_largest("amruta","shweata","shivaraj")

8