In [ ]:
my_string="Amruta Jadhav"

In [ ]:
my_list=[]

In [ ]:
for i in my_string:
  my_list.append(i)

In [ ]:
my_list

['A', 'm', 'r', 'u', 't', 'a', ' ', 'J', 'a', 'd', 'h', 'a', 'v']

In [ ]:
[x for x in my_string]

['A', 'm', 'r', 'u', 't', 'a', ' ', 'J', 'a', 'd', 'h', 'a', 'v']

In [ ]:
my_list=[1,2,3,4,5]

In [ ]:
my_square=[]

In [ ]:
for i in my_list:
  my_square.append(i*i)

In [ ]:
my_square

[1, 4, 9, 16, 25]

In [ ]:
my_square1=[]
for i in range(1,11):
  my_square1.append(i**2)

In [ ]:
print(my_square1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
a=input("enter the string")
c=a.upper()
my_list=[]
for i in c.split():
  my_list.append(i) #my_list.append(i.upper())

enter the stringamruta jadhav

In [ ]:
 print(my_list)

['AMRUTA', 'JADHAV']

In [ ]:
a=input("enter the string")
[x.upper() for x in a]

enter the stringamruta

['A', 'M', 'R', 'U', 'T', 'A']

In [ ]:
p=input("enter the string")
[x.upper() for x in p.split()]

enter the stringamruta jadhav

['AMRUTA', 'JADHAV']

In [ ]:
number=input("enter the five numbers")

enter the five numbers1 3 4 5 6

In [ ]:
my_list1=[]
for i in number.split():
  my_list1.append(int(i))
print(my_list1)
print(sum(my_list1))

[1, 3, 4, 5, 6]
19

In [ ]:
my_list=[]
for i in range(1,51):
  if i%2!=0:
   my_list.append(i*i)
print(my_list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [ ]:
[i*i for i in range (1,51) if i%2!=0]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [ ]:
'''create function called removevowel() which accept list as argument and return the list with all the vowels are removed from the string
for loop
list comprehensive'''
homework

In [ ]:
# Tuple

In [ ]:
mytuple=()

In [ ]:
mytuple

()

In [ ]:
mytuple=(23,34,21,56,38,98,35,76)

In [ ]:
mytuple

(23, 34, 21, 56, 38, 98, 35, 76)

In [ ]:
mytuple1=("abc",34,98.6)

In [ ]:
type(mytuple1)

tuple

In [ ]:
mytuple=(43)

In [ ]:
mytuple
type(mytuple)

int

In [ ]:
mytuple=(23,)
type(mytuple)

tuple

In [ ]:
# concept of packing and unpacking

In [ ]:
a=12,34,56,67

In [ ]:
a

(12, 34, 56, 67)

In [ ]:
x,y,z,h=a

In [ ]:
x

12

In [1]:
mytuple=(23,46,86,98,56)

In [ ]:
mytuple[3]

98

In [ ]:
mytuple[1:4]

(46, 86, 98)

In [2]:
mytuple[4:1:-1]

(56, 98, 86)

In [3]:
mytuple[3]=67

TypeError: 'tuple' object does not support item assignment

In [4]:
mynum=[[23,678],78,89,45,67]

In [6]:
mynum[0][1]

678

In [7]:
mynum[0][1]=90

In [8]:
mynum

[[23, 90], 78, 89, 45, 67]

In [9]:
a=(56,78,89,59)

In [11]:
a=(1,2,3,4)

In [12]:
a

(1, 2, 3, 4)

In [13]:
del(a[3])

TypeError: 'tuple' object doesn't support item deletion

In [14]:
del(a)

In [15]:
a

NameError: name 'a' is not defined

In [16]:
'''functions of tuple:
1.len()
max()
min()
sum()
sorted()
any()
all()
tuple()'''

'functions of tuple:\n1.len()\nmax()\nmin()\nsum()\nsorted()\nany()\nall()\ntuple()'

In [17]:
mytuple=(1,2,3,4,6,8)

In [18]:
len(mytuple)

6

In [19]:
max(mytuple)

8

In [20]:
min(mytuple)

1

In [21]:
sum(mytuple)

24

In [22]:
sorted(mytuple)

[1, 2, 3, 4, 6, 8]

In [23]:
sorted(mytuple,reverse=True)

[8, 6, 4, 3, 2, 1]

In [24]:
# atleast one value is true
any(mytuple)

True

In [25]:
# all value are should be true
all(mytuple)

True

In [26]:
''' iterable: is a object on top that can be iterate
list
tuple
string
dict
set
range'''

' iterable: is a object on top that can be iterate\nlist\ntuple\nstring\ndict\nset\nrange'

In [27]:
tuple([34,67,89,90,56])

(34, 67, 89, 90, 56)

In [ ]:
'''methods for tuple
append()
extend()
insert()
count()
index()
clear()
pop()
sort()
reverse()

In [35]:
mytuple=(34,45,12,67)

In [28]:
mytuple.append(89)

AttributeError: 'tuple' object has no attribute 'append'

In [29]:
mytuple.append(78,90)

AttributeError: 'tuple' object has no attribute 'append'

In [36]:
mytuple.count(1)

0

In [37]:
mytuple.index(12)

2

In [38]:
mytuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [39]:
mytuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [40]:
my_tuple=("a","k","t","e")

In [41]:
"a" in my_tuple

True

In [43]:
odd=(1,3,5)
even=(2,4,6)

In [44]:
odd+even

(1, 3, 5, 2, 4, 6)

In [45]:
id(odd+even)

140246341731712

In [46]:
a=(4,3,5)

In [47]:
a*2

(4, 3, 5, 4, 3, 5)

In [52]:
a=(2,3,4)
b=(2,5,6)

In [53]:
a<b

True

**SET**


1. we can not keep duplicate elements
2.we can not use subscript operator (we cant use index and slicing)
and unordered collection

In [54]:
mylis=[34,567,89]# accessing the element with index is possible
mytuple=(78,56,35,89)# accessing the element with index is posible
myset={4,6,7}#not accessing the element with index

In [56]:
type(mylis)

list

In [57]:
type(mytuple)

tuple

In [58]:
type(myset)

set

In [59]:
myset={"h",23,9.6}

In [60]:
myset

{23, 9.6, 'h'}

In [61]:
myset.add(90)

In [62]:
myset

{23, 9.6, 90, 'h'}

In [63]:
myset.clear()

In [64]:
myset

set()

In [65]:
myset={45,78,23,89,56,89}

In [66]:
myset.copy()

{23, 45, 56, 78, 89}

In [68]:
myset.pop()

23

In [69]:
myset

{45, 56, 78, 89}

In [70]:
myset.remove(56)

In [71]:
myset

{45, 78, 89}

In [76]:
myset.update()

In [74]:
myset

{45, 78, 89}