Write a program to create a class called Circle , having an instance member called radius. Provide following instance methods in your class: init_() : This method should initialize radius with the parameter passed

cal_area(): This method should calculate and print the radius of the Circle

cal_circumference(): This method should calculate and print the circumference of the Circle

Finally , in the main script , create a Circle object , initialize radius with user input and calculate and display itâ€™s area and circumference

In [2]:
class circle:
  def __init__(self,r):
    self.radius=r
  def cal_area(self):
    area=3.14*self.radius*self.radius
    #area=math.pi*self.radius*self.radius
    print(area)
  def cal_circumference(self):
    cir=2*3.14*self.radius
    print(cir)

In [3]:
p=circle(4)

In [4]:
p.cal_area()

50.24

In [5]:
p.cal_circumference()

25.12

In [10]:
class amruta:
  def p(self,a):
    self.k=a
    print(self.k)
  def q(self,z):
    self.l=z
    print(self.l)

In [11]:
d=amruta()

In [8]:
d.p(10)

10

In [12]:
d.q(20)

20

In [13]:
class circle:
  pii=3.14
  def __init__(self,r):
    self.radius=r #class variable
  def cal_area(self):
    area=circle.pii*self.radius*self.radius
    #area=math.pi*self.radius*self.radius
    print(area)
  def cal_circumference(self):
    cir=2*circle.pii*self.radius
    print(cir)

In [15]:
p=circle(2)

In [16]:
p.cal_area()

12.56

In [17]:
p.cal_circumference()

12.56

In [18]:
class amruta:
  def p(self,a):
    self.k=a
    print(self.k)
  def q(self,z):
    self.l=z
    print(self.l)
  def show(self):
    print(id(self))

In [19]:
p=amruta()

In [20]:
p.show()

135700602676096

In [21]:
print(id(p))

135700602676096

Write a program to create a class called Emp , having an instance members called name , age and sal . Also declare a class variable called raise_amount to store the increment percentage of sal and set it the value given by the user

Now provide following methods in your class init_() : This method should initialize instance members with the parameter passed

increase_sal(): This method should calculate the increment in sal and add it to the instance member sal

display(): This method should display name , age and sal of the employee

Finally , in the main script , create 2 Emp objects , initialize them and increase their salary . Finally display the data

In [22]:

class emp:
  raise_amount=int(input("inter the value for raise amount"))
  def __init__(self,name,age,sal):
    self.n=name
    self.a=age
    self.s=sal
  def increase_sal(self):
    self.s=self.s+(self.s*(emp.raise_amount/100))
  def display(self):
    print("NAME=",self.n)
    print("AGE=",self.a)
    print("SALARY=",self.s)

inter the value for raise amount20

In [23]:
p=emp("amruta",19,200000)

In [25]:
p.increase_sal()

In [27]:
p.display()

NAME= amruta
AGE= 19
SALARY= 240000.0

In [32]:

class emp:
  raise_amount=0
  @classmethod
  def set_raise_amount(cls):
    cls.raise_amount=int(input("inter the value for raise amount"))
  def __init__(self,name,age,sal):
    self.n=name
    self.a=age
    self.s=sal
  def increase_sal(self):
    self.s=self.s+(self.s*(emp.raise_amount/100))
  def display(self):
    print("NAME=",self.n)
    print("AGE=",self.a)
    print("SALARY=",self.s)

In [33]:
p=emp("amruta",19,200000)

In [34]:
p.increase_sal()

In [35]:
p.display()

NAME= amruta
AGE= 19
SALARY= 200000.0

In [36]:
emp.set_raise_amount()

inter the value for raise amount20

In [37]:
p.increase_sal()

In [38]:
p.display()

NAME= amruta
AGE= 19
SALARY= 240000.0

static method

In [39]:
class math:
  @staticmethod
  def add_nums(a,b):
    c=a+b
    return c
  @staticmethod
  def multiply(k,l):
    p=k*l
    return p

In [40]:
math.add_nums(10,20)

30

In [41]:
math.multiply(10,20)

200

Instance Methods:Â The most common method type. Able to access data and properties unique to each instance(object).

Static Methods(utility method):Â Cannot access anything else in the class. Totally self-contained code.

Class Methods:Â Can access limited methods in the class. Can modify class specific details.